* {
    font-size: 20;
    font-style: bold;
}

Label {
    width: 140;
}

.container {
    margin-left: 15;
    margin-right: 6;
    margin-top: 6;
    margin-bottom: 6;
}

#row {
    flex-direction: row;
    background-color: rgb(45, 45, 45);
}

TextField {
    flex-grow: 1;
    margin-right: 4;
}

TextField:hover {
    background-color: rgb(255, 255, 0);
}

IntegerField {
    width: 100;
    background-color: rgb(0, 0, 255);
}
