* {
    font-size: 20px;
    -unity-font-style: bold;
}

Label {
    width: 140px;
}

.container {
    padding-left: 4px;
    margin-bottom: 2px;
}

#row {
    flex-direction: row;
    background-color: rgb(45, 71, 45);
}

TextField {
    flex-grow: 1;
}

#row:hover {
    background-color: rgb(255, 255, 0);
}

IntegerField {
    width: 100px;
}
